<html ng-app="myApp">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="appController">
	<div class="container">
	    <div class="page-header">
	        <h1> Список пользователей </h1>
	    </div>
	    <div class="panel">
	        <div class="form-inline">

		            <div class="form-group">
		                    <button class="btn btn-primary" ng-click="addUser()">Добавить</button>
		            </div>

	        </div>
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>Имя</th>
	                    <th>Фамилия</th>
	                    <th>Дата рождения</th>
	                    <th>E-mail</th>
	                    <th></th>
	                    <th></th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="item in list.items">
	                    <td>{{item.firstname}}</td>
	                    <td>{{item.lastname}}</td>
	                    <td>{{item.birthdate | date:'dd.MM.yyyy'}}</td>
	                    <td>{{item.email}}</td>
	                    <td><button class="btn btn-default" title="Редактировать" ng-model="visible"  ng-click="openModal($index)"><span class="glyphicon glyphicon-pencil"></span></button></td>
	                    <td><button class="btn btn-danger" title="Удалить" ng-click="deleteUser($index)"><span class="glyphicon glyphicon-remove"></span></button></td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>    
	


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/ui-bootstrap-tpls.js"></script>
<script src="js/controllers/appController.js"></script>
<script src="js/controllers/editUserController.js"></script>
<script src="js/controllers/addUserController.js"></script>
<script src="js/controllers/deleteUserController.js"></script>
</body>
</html>

